
﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: black;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.btnGen {
    border: red solid 2px;
    background-color: rgba(0,0,0,.5);
    padding: 22px 36px;
    font-size: 32px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Metamorphous';
    color: red !important;

}
@keyframes glowing {
    0% {
        box-shadow: 0 0 150px #860101;
    }
    16% {
        box-shadow: 0 0 100px #860101;
    }

    33% {
        box-shadow: 0 0 50px #860101;
    }
    50% {
        box-shadow: 0 0 25px #860101;
    }

    66% {
        box-shadow: 0 0 50px #860101;
    }
    83% {
        box-shadow: 0 0 100px #860101;
    }
    100% {
        box-shadow: 0 0 150px #860101;
    }
}

.button-glow {
    animation: glowing 2000ms infinite;
}     

    /* On mouse-over */
    .btnGen:hover {
        background: #550000;
    }

.midtopsect {
    min-height: 150px;
    color: #600101;
    text-align: center;
}

footer {
    position: absolute;
    bottom:0;
    color: darkred;
}
h1 {
    font-size: 150px;
    font-family: 'Metamorphous';
    text-shadow: 4px 4px red;
}
#title{
    margin-bottom:150px;
    /*margin-top:75px;*/
}

ul.nav li a{
    color: red !important;

}
td {
    color: #898989;
    border-top: 1px solid #2F2F2F !important;
}
table {
    border-color: #595858;
}
p {
    border-color: #595858;
}
th {
    color: red !important;
}
h2 {
    color: red !important;
}
h4{
    color: darkred !important;
}
dd{
    color: darkgray !important;
    font-size:18px !important;
}
dt{
    color: darkred !important;
}
input[type="checkbox"] {
    width: 30px; /*Desired width*/
    height: 30px; /*Desired height*/
}
input[type="checkbox2"] {
    width: 10px; /*Desired width*/
    height: 10px; /*Desired height*/
}
